<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/main.js"></script>
  </head>
  <body>
    <br/>
    <ol>
    {% for i, m in messages|reverse %}
      <li class="messages unselected">
        <span class="subject">{{m['Subject']}}</span>
        <span class="date">{{m['Date']}}</span>
      {% for part in m.walk() %}
        {% if part.get_content_type() == 'text/plain' %}
          <p class="content">{{part.get_payload()}}</p>
        {% endif %}
      {% endfor %}
      </li>
    {% endfor %}
    </ol>
    <form method="post" action="/">
      <p>
        <label for="to">To:</label>
        <input type="text" id="to" name="to"></input>
      </p>
      <p>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject"></input>
      </p>
      <p>
        <label for="message">Message</label>
        <textarea rows="10" cols="50" id="message" name="message"></textarea>
      </p>
      <input type="Submit"></input>
    </form>
  </body>
</html>
